module.exports = {
  environment: 'dev',
  database: {
    dbName: 'blog',
    host: 'localhost',
    port: 3306,
    user: '',
    password: ''
  },
  pagination: {
    pageDefault: 0,     // 分页默认页码
    countDefault: 10    // 分页默认一页的数量
  },
  // JWT
  security: {
    secretKey: '',
    expiresIn: 60 * 60 * 2
  },
  host: 'http://localhost:3000'
}
